__pycache__/polytr.cpython-314.pyc
__pycache__/polytr.cpython-312.pyc
__pycache__/polytr._steihaug-48.py314.nbi
__pycache__/polytr._steihaug-48.py314.1.nbc
__pycache__/polytr._solve_tau-26.py314.nbi
__pycache__/polytr._solve_tau-26.py314.1.nbc
__pycache__/polytr._bfgs_update-36.py314.nbi
__pycache__/polytr._bfgs_update-36.py314.1.nbc
.vscode/settings.json
